.App {
  text-align: center;
}

.App-body {
  align-items: center;
  background-color: whitesmoke;
  background-image: inherit;
  color: 	#6A8A26;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  margin-block: 5% 0%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bgimg {
  background-image: url('./img/space-background.jpeg');
}
